@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: 80mm auto;
    margin: 0;
  }

  html, body {
    width: 80mm !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
  }

  body * {
    visibility: hidden;
  }
  
  .receipt-print, .receipt-print * {
    visibility: visible;
  }
  
  .receipt-print {
    position: static !important;
    width: 80mm !important;
    margin: 0 !important;
    padding: 5px !important;
    page-break-after: avoid !important;
    page-break-inside: avoid !important;
  }
}